.curtain {
  position: absolute;
  display: none;
  z-index: 0;
  background: #333333;

  width: 100%;
  height: 100%;
}

.curtain_shutted {
  display: block;
  z-index: 10;
}

.curtain_covering_poster {
	opacity: 0.8;
}

.curtain_covering_app {
	opacity: 0.6;
}