.button {
  width: 113px;
	height: 38px;
	
	cursor: pointer;
	
  line-height: 38px;
  vertical-align: middle;
	text-align: center;
	
  border-radius: 4px;
	border: none;

	font: inherit;
  font-weight: 500;
}

.button_type_login {
  color: #FFFFFF;
  background: #E5261E;
}