.channels {
  height: 100%;
}

.channels-list {
  height: 696px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.channels-item {
  background: #f2f2f2;
  margin-bottom: 16px;
  border-radius: 8px;
  height: 162px;
  width: 99%;
  min-height: 162px;
}

.channels-list .channels-item:last-of-type {
	margin-bottom: 0px;
}

.channels-list::-webkit-scrollbar {
  width: 8px;
  height: 50%;
  background: #f2f2f2;
  border-radius: 2px;
}

.channels-list::-webkit-scrollbar-thumb {
  height: 50%;
  background: #bdbdbd;
  border-radius: 2px;
}
