.genres-list {
	display: flex;
	margin-top: 76px;
	margin-right: -20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.genres-item {
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}

.genres-header {
	position: absolute;
	top: -50px;
}

@media (max-width: 720px) {
	.genres-list {
		overflow-x: scroll;
		flex-wrap: nowrap;
		justify-content: initial;
	}
}
