.header {
  width: 100%;
  min-height: 40px;
}

.header-content {
  height: 100%;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  width: 182px;
  height: 36px;
  display: flex;
  align-items: center;
}

.header-sign {
  margin-right: 5px;
}

.header-label {
  font-weight: 500;
  font-size: 1.25em;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;

  /* identical to box height */

  /* Gray 1 */
  color: #333;
}

.header-searchField {
  border: none;
  border-bottom: 1px solid #333;
  margin-right: 15px;
}

.header-searchButton {
  display: inline-block;
  cursor: pointer;
  color: #e5261e;
  font-weight: 500;
  line-height: 19px;
}

.header-login {
  display: flex;
  width: 230px;
  justify-content: flex-end;
}
