.header {
	width: 100%;
	min-height: 40px;
}

.header-content {
	width: 82%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

@media (max-width: 950px) {
	.header-content {
		flex-wrap: wrap;
	}

	.header-search {
		order: 3;
		margin: 10px auto 0 auto;
	}

	.header-login {
		flex-grow: 1;
		margin-top: 10px;
	}
}

.header-logo {
	min-width: 182px;
	height: 36px;
	display: flex;
	align-items: center;
}

.header-sign {
	margin-right: 11px;
}

.header-label {
	color: #333;
}

.header-search .field {
	border-bottom: 1px solid #333;
	width: 320px;
	margin-right: 32px;
}

.header-searchButton {
	display: inline-block;
	cursor: pointer;
	color: #e5261e;
	font-weight: 500;
	line-height: 19px;
}

.header-login {
	display: flex;
	min-width: 182px;
	justify-content: flex-end;
}
