.footer {
  width: 100%;
  background: #F2F2F2;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.footer-content {
  margin: 0 auto;
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
