.movies-list {
	display: flex;
	margin-top: 44px;
	margin-right: -20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (max-width: 720px) {
	.movies-list {
		overflow-x: scroll;
		flex-wrap: nowrap;
		justify-content: initial;
	}
}

.movies-icon {
	width: 25px;
	height: 25px;
}

.movies-item {
	margin-top: 20px;
	margin-right: 20px;
	position: relative;
}

.movies-new {
	position: absolute;
	top: -50px;
}
