.App {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

@media (min-height: 910px) {
  .App {
    height: 100%;
  }
}

.App > main {
  height: 80%;
  margin: 0 auto;
}

.App > header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10%;
}

.App > footer {
  margin-top: 10px;
  height: 10%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  list-style-type: none;
}

figure,
h6,
h5,
h4,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f4766;
  font-weight: 500;
}

h6,
h5,
h4 {
  font-weight: 500;
  display: inline-block;
}

h6 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.75em;
}
